:root {
  --card-height: 30vmin;
}

.card {
  width: 50vw;
  min-width: 87.5vmin;
  height: var(--card-height);
  margin: var(--cards-margins-width);
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: var(--BG-color2);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius2);
}

.card-img {
  width: calc(var(--card-height) - var(--cards-margins-width)*2);
  height: calc(var(--card-height) - var(--cards-margins-width)*2);
  margin: var(--cards-margins-width);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius);
  object-fit: cover;
}
.img-right {
  margin-left: 0px;
  object-position: 50% 20%;
}
.img-left {
  margin-right: 0px;
}

.card-text-div, .comment {
  margin: var(--cards-margins-width);
  padding: var(--cards-margins-width);
  text-align: center;
  font-size: var(--text-font-size);
  border: var(--border-width) solid var(--main-color);
}
.card-text-div {
  width: calc(50vw - var(--card-height) - var(--cards-margins-width));
  min-width: calc(87.5vmin - var(--card-height) - var(--cards-margins-width));
  height: calc(var(--card-height) - var(--cards-margins-width)*2);
  background-color: var(--BG-color);
  border-radius: var(--border-radius);
}
.comment {
  width: calc(var(--card-height)*1.35);
  height: var(--card-height);
  background-color: var(--BG-color2);
  color: var(--main-color);
  border-radius: var(--border-radius2);
}

/*Responsive Design*/

/*Mobile*/

/*Tablet*/

/*Landscape*/
@media (max-height: 480px) and (min-width: 480px) {
  :root {
    --card-height: 65vh;
    --card-width: calc(100% - var(--cards-margins-width)*2);
  }
  .card {
    min-width: unset;
    width: var(--card-width);
  }
  .card-img  {
    width: calc(var(--card-height) - var(--cards-margins-width)*2);
  }
  .card-text-div {
    min-width: unset;
    width: calc(100% - var(--card-height) - var(--cards-margins-width));
    height: calc(var(--card-height) - var(--cards-margins-width)*2);
  }
  .comment {
    width: calc(var(--card-width)/2 - var(--cards-margins-width));
    height: calc(var(--card-height) - var(--cards-margins-width)*2);
  }
}

/*Portrait*/
@media (max-width: 480px) {  
  :root {
    --card-width: calc(100vw - var(--cards-margins-width)*4);
  }
  #about h1 {
    margin: var(--cards-margins-width);
  }
  .card {
    min-width: unset;
    width: var(--card-width);
    height: auto;
  }
  #card-img-left {
    flex-direction: column;
  }
  #card-img-right {
    flex-direction: column-reverse;   
  }
  .card-img {
    width: calc(var(--card-width) - var(--cards-margins-width)*2);
    height: calc(var(--card-width) - var(--cards-margins-width)*2);
    margin: var(--cards-margins-width);
    margin-bottom: 0px;
  }
  .card-text-div, .comment {
    width: calc(var(--card-width) - var(--cards-margins-width)*2);
    height: auto;
  }
  .comment {
    min-height: 50vmin;
  }
}

/*Larger Screens*/
@media (min-width: 1300px) and (min-aspect-ratio: 17/15){
  #about .section-border-div {
    padding: 0vw 7vw calc(var(--cards-margins-width)*1.5) 7vw;
  }
}

/*Weird sizes*/
@media (min-width: 481px) and (max-aspect-ratio: 100/185) {
  .card-text-div, .comment {
    font-size: calc(var(--text-font-size)*0.9);
  }
}
@media (min-height: 481px) and (min-aspect-ratio: 10/5) {
  .comment {
    width: 25vw;
  }
}
