:root {
  --card-height: 35vmin;
}
#about h1 {
  width: 100%;
  margin: 5px auto -5px auto;
  text-align: center;
}

.card {
  width: 50vw;
  min-width: 87.5vmin;
  height: var(--card-height);
  margin: var(--cards-margins-width);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: var(--secondary-color);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius2);
}

.card-img {
  width: calc(var(--card-height) - var(--cards-margins-width)*2);
  height: calc(var(--card-height) - var(--cards-margins-width)*2);
  margin: var(--cards-margins-width);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius);
  object-fit: cover;
}
.img-right {
  margin-left: 0px;
}
.img-left {
  margin-right: 0px;
}

.card-text-div, .comment {
  margin: var(--cards-margins-width);
  padding: var(--cards-margins-width);
  text-align: center;
  font-size: calc((2.3vmin + 1.2vmax)/2);
  border: var(--border-width) solid var(--main-color);
}
.card-text-div {
  width: 35vmax;
  min-width: 47.5vmin;
  height: calc(var(--card-height) - var(--cards-margins-width)*2);
  background-color: var(--BG-color);
  border-radius: var(--border-radius);
}
.comment {
  width: var(--card-height);
  height: var(--card-height);
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: var(--border-radius2);
}

/*Responsive Design*/

/*Mobile*/

/*Vertical*/
@media (max-aspect-ratio: 7/10) {  
  :root {
    --card-width: 90vw;
  }
  .card {
    min-width: unset;
    width: var(--card-width);
    height: auto;
  }
  #card-img-left {
    flex-direction: column;
  }
  #card-img-right {
    flex-direction: column-reverse;   
  }
  .img-right, .img-left {
    margin: var(--cards-margins-width);
    margin-bottom: 0px;
  } 
  .card-img {
   width: calc(var(--card-width) - var(--cards-margins-width)*2);
   height: calc(var(--card-width) - var(--cards-margins-width)*2); 
  }

  .card-text-div {
    width: calc(var(--card-width) - var(--cards-margins-width)*2);
    height: auto;
    font-size: 5vw;
  }
  .comment {
    width: calc(var(--card-width) - var(--cards-margins-width)*2);
    height: auto;
    min-height: 35vmin;
    font-size: 5vw;
  }
}
.img-right {
  object-fit: cover;
  object-position: 50% 20%;
} 

/*Larger Screens*/
@media (min-aspect-ratio: 18/10) and (min-width: 1200px) {
  #about .border-div {
    padding: 0vw 10vw calc(var(--cards-margins-width)*1.5) 10vw;
  }  
}
@media (min-aspect-ratio: 30/10) {
  #about .border-div {
    padding: 0vw 0vw calc(var(--cards-margins-width)*1.5) 0vw;
  }
  .comment {
    width: 20vw;
  } 
}

