:root {
  --activity-card-width: 30vmax;
  --activity-square: calc(15vmax - var(--cards-margins-width)*2);
}

#activities h1 {
  width: 100%;
  margin: 5px auto -5px auto;
  text-align: center;  
}

.activity-card {
  width: var(--activity-card-width);
  min-width: 360px;
  max-width: var(--activity-card-width);  
  height: calc(var(--activity-square) + var(--activity-square)/4 + var(--cards-margins-width)*4.25);
  min-height: 250px;
  flex-direction: column;
  background-color: var(--secondary-color);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius2);  
}

.activity-title-div {
  width: calc(var(--activity-card-width) - var(--cards-margins-width)*2);
  height: calc(var(--activity-square)/4);
  margin: var(--cards-margins-width);
  margin-bottom: 0px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-family: var(--title-family);
  font-size: 3.7vw;
}

.activity-card-div {
  width: var(--activity-card-width);
  min-width: 360px;
  height: calc(var(--activity-square) + var(--cards-margins-width)*2);
  border: var(--border-width) solid var(--main-color);
  border-top: none;
  border-bottom: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.activity-img, .activity-text-div {
  width: var(--activity-square);
  height: var(--activity-square);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius);
  object-fit: cover;
}
.activity-img {
  margin: var(--cards-margins-width);
}
.activity-text-div {
  margin: var(--cards-margins-width);
  margin-left: 0px;
  padding: var(--cards-margins-width);
  background-color: var(--BG-color);
  font-size: calc(0.1rem + (1.0vh + 1.4vw)/2);
}

#imagen-img {
  object-position: 50% 10%;
}
#novias-img {
  object-position: 100% 50%;
}

/*Responsive Design*/

/*Mobile*/

/*Vertical*/
@media (max-aspect-ratio: 7/10) {
  :root {
    --activity-card-width: 90vw;
    --activity-square: calc(90vw - var(--cards-margins-width)*2);
  }
  .activity-card {
    min-width: unset;
    height: auto;
  }
  .activity-card h6 {
    font-size: 7.5vw;
  }
  .activity-card-div {
    height: auto;
    min-width: unset;
    flex-direction: column;
  }
  .activity-text-div {
    height: auto;
    margin: var(--cards-margins-width);
    margin-top: 0px;
    padding-left: calc(var(--cards-margins-width)*1.5);
    padding-right: calc(var(--cards-margins-width)*1.5);
    font-size: 5vw;
  }
}

/*Landscape*/
@media (min-aspect-ratio: 10/7) and (max-width: 900px), (min-aspect-ratio: 10/2) {
  :root {
    --activity-card-width: 90vw;
    --landscape-card-height: 70vh;
    --landscape-card-title-height: 20vh;
  }
  .activity-card {
    position: relative;
    min-width: unset;
    height: var(--landscape-card-height);
  }
  .activity-card-div {
    height: calc(var(--landscape-card-height) - var(--landscape-card-title-height)); 
    margin: 0px;
    justify-content: flex-end;
  }
  .activity-title-div {
    width: calc(90vw - var(--landscape-card-height) - 10px);
    height: calc(var(--landscape-card-title-height) - var(--cards-margins-width)*2);
    margin-left: var(--landscape-card-height);
    font-size: 4em;
  }  
  .activity-img {
    width: calc(var(--landscape-card-height) - 20px);
    height: calc(var(--landscape-card-height) - 20px);
    margin: 0px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .activity-text-div {
    width: calc(var(--activity-card-width) - var(--landscape-card-height) - 10px);
    height: calc(var(--landscape-card-height) - var(--landscape-card-title-height) - 20px);
    margin: 10px;
    position: relative;
    bottom: 0;
    right: 0;
    font-size: calc((5vmin + 3vmax)/2);
  }
}

/*Tablets*/
