:root {
  --activity-card-width: 27vmax;
  --activity-square: calc(13.5vmax - var(--cards-margins-width)*1.5);
}

.activity-card {
  width: var(--activity-card-width);
  margin: calc(var(--cards-margins-width));
  flex-direction: column;
  background-color: var(--secondary-color);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius2);  
}
.activity-title-div {
  width: 100%;
  margin-bottom: calc(0px - var(--cards-margins-width)/2);
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-family: var(--title-family);
  font-size: 3vw;
  border-radius: var(--border-radius2);
}
.activity-card-div {
  width: 100%;
  height: calc(var(--activity-square) + var(--cards-margins-width)*2);
}

.activity-img, .activity-text-div {
  width: var(--activity-square);
  height: var(--activity-square);
  margin: var(--cards-margins-width);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius);
  object-fit: cover;
}
.activity-text-div {
  margin-left: 0px;
  padding: calc(var(--cards-margins-width)/2.5);
  background-color: var(--BG-color);
  font-size: calc(var(--text-font-size) * 0.7);
  text-align: center;
}
#imagen-img {
  object-position: 50% 10%;
}
#novias-img {
  object-position: 100% 50%;
}

.contact-autofill, .consult-btn { 
  height: calc(var(--activity-square)/6);
}
.contact-autofill {
  width: calc(100% - var(--cards-margins-width)*2);
  margin-bottom: var(--cards-margins-width);  
  color: var(--text-color);
  text-decoration: none;
}
.consult-btn {
  width: 100%;
  background-color: var(--main-color);
  border: none;
  border-radius: var(--border-radius);
  font-size: calc(var(--text-font-size) * 0.7);
  cursor: pointer;
}
/*Responsive Design*/

/*Mobile*/

/*Tablet*/
@media (max-width: 1025px), (max-aspect-ratio: 3/2) {
  :root {
    --activity-card-width: 40vw;
    --activity-square: calc(20vw - var(--cards-margins-width)*1.5);
  }  
  .activity-title-div {
    font-size: 5vw;
  }
  .activity-text-div, .consult-btn {
    font-size: calc(var(--text-font-size)*0.9);
  }
}


/*Landscape*/
@media (max-height: 480px) and (min-width: 480px) {
  :root {
    --activity-card-width: calc(100vw - var(--cards-margins-width)*2 - var(--lateral-navbar) - var(--section-margins-width));
    --landscape-card-height: 65vh;
    --landscape-card-title-height: 15vh;
    --consult-btn-height: 8vh;
  }
  .activity-card {
    box-sizing: content-box;
    height: var(--landscape-card-height);
    position: relative;
  }
  .activity-card-div {
    height: calc(var(--landscape-card-height) - var(--landscape-card-title-height) - var(--consult-btn-height) - var(--cards-margins-width)*2); 
  }
  .activity-title-div {
    height: var(--landscape-card-title-height);
    padding-left: calc(var(--landscape-card-height) - var(--cards-margins-width));
    font-size: calc((9vw + 8vh)/2);
    position: absolute;
    top: 0;
  }
  #guardarropas-card .activity-title-div {
    font-size: calc((8vw + 7vh)/2);
  }
  .activity-img {
    width: calc(var(--landscape-card-height) - var(--cards-margins-width)*2);
    height: calc(var(--landscape-card-height) - var(--cards-margins-width)*2);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .activity-text-div {
    width: calc(100% - var(--landscape-card-height) - var(--cards-margins-width));
    height: calc(var(--landscape-card-height) - var(--landscape-card-title-height) - var(--consult-btn-height) - var(--cards-margins-width)*2);
    position: absolute;
    bottom: calc(var(--consult-btn-height) + var(--cards-margins-width));
    right: 0;
    font-size: calc(var(--text-font-size)*1.2);
  }
  .contact-autofill  {
    width: calc(100% - var(--landscape-card-height) - var(--cards-margins-width));
    position: absolute;
    right: 0;
    bottom: 0;
    margin: var(--cards-margins-width);    
  }
  .contact-autofill, .consult-btn {
    height: var(--consult-btn-height);
    font-size: calc(var(--text-font-size)*1.1);
  }
}

/*Portrait*/
@media (max-width: 480px) {
  :root {
    --activity-card-width: calc(100vw - var(--cards-margins-width)*4);
    --activity-square: calc(var(--activity-card-width) - var(--cards-margins-width)*2);
  }
  #activities .section-border-div {
    padding-bottom: var(--cards-margins-width);
  }
  #activities h1 {
    margin: var(--cards-margins-width);
  }
  .activity-card h6 {
    font-size: 8.3vw;
    margin: calc(var(--cards-margins-width)/2) auto;
  }
  #guardarropas-card h6 {
    font-size: 7.5vw;
  }
  .activity-card-div {
    height: auto;
    min-width: unset;
    flex-direction: column;
  }  
  .activity-text-div {
    height: auto;
    margin: var(--cards-margins-width);
    margin-top: 0px;
    padding: var(--cards-margins-width);
    font-size: var(--text-font-size);
  }
  .contact-autofill, .consult-btn {
    height: auto;    
  }
  .consult-btn {
    padding: var(--cards-margins-width);
    font-size: var(--text-font-size);
  }
}

/*Larger Screens*/
@media (min-width: 1200px) and (min-aspect-ratio: 3/2) {
  .activity-card {
    margin: calc(var(--cards-margins-width)/2) var(--cards-margins-width);
  }
}
@media (min-width: 1200px) and (min-aspect-ratio: 100/49) {
  .activity-text-div, .consult-btn {
    background-color: lightcoral;
    font-size: calc(var(--text-font-size)*3);
  }
}
@media (min-width: 1200px) and (min-aspect-ratio: 100/50) {
  .activity-text-div, .consult-btn {
    background-color: red;
    font-size: calc(var(--text-font-size)*1);
  }
}
@media (min-width: 1200px) and (min-aspect-ratio: 100/60) {
  .activity-text-div, .consult-btn {
    font-size: calc(var(--text-font-size)*0.9);
  }
}
@media (min-width: 1200px) and (min-aspect-ratio: 100/65) {
  .activity-text-div, .consult-btn {
    font-size: calc(var(--text-font-size)*0.8);
  }
}


/*Weird sizes*/
@media (min-width: 481px) and (max-aspect-ratio: 10/11) {
  .activity-text-div, .consult-btn {
    font-size: calc(var(--text-font-size)*0.74);
  }
}
@media (min-width: 481px) and (max-aspect-ratio: 10/15) {
  .activity-text-div, .consult-btn {
    font-size: calc(var(--text-font-size)*0.7);
  }
}
@media (min-width: 481px) and (max-aspect-ratio: 1/2) {
  .activity-text-div, .consult-btn {
    font-size: calc(var(--text-font-size)*0.6);
  }
}
@media (min-width: 481px) and (max-aspect-ratio: 1/3) {
  .activity-text-div, .consult-btn {
    font-size: calc(var(--text-font-size)*0.5);
  }
}