:root {
  --contact-width: 600px;
}

#contact {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#contact h1, h2 {
  width: 100%;
  color: var(--main-color);
  text-align: center;
}
#contact h1 {
  margin: 20px auto 10px auto;  
}
#contact h2 {
  margin: 20px;
  font-family: var(--title-family);
}

#contact h6 {
  width: 100%;
  margin: -10px auto 5px auto;
  color: var(--main-color);  
  text-align: center;
}

#contact form, #contact label {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}

.contact-input, .contact-textarea, #send {
  width: var(--contact-width);
  min-width: 50vw;
  max-width: 95vw;
  margin: calc(var(--cards-margins-width)*0.3) auto calc(var(--cards-margins-width)*2) auto;
  padding: var(--cards-margins-width);
  background-color: var(--BG-color);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius);
  font-size: 15px;
}

.contact-textarea {
  height: 100px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

#send {
  margin: 10px auto 10px auto;
  background-color: var(--main-color);
  border: none;
  font-weight: bolder;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
  opacity: 0.5;
}

.contact-inpt:focus,
.contact-textarea:focus {
  caret-color: black;
  outline: none;
  background-color: white;
}

.contact-logo {
  color: var(--main-color);
  font-size: 30px;
  margin: 40px 20px 20px 20px;
}
.contact-logo:hover {
  margin: 35px 20px 5px 20px;
  transition: margin 0.2s;
}

/*Responsive Design*/

/*Mobile*/

/*Vertical*/
@media (max-aspect-ratio: 7/10) {
  :root {
    --contact-width: 95vw;
  }
}