#gallery {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#gallery h1 {
  width: 100%;
  margin: 40px auto 20px auto;  
  color: var(--main-color);
  text-align: center;
}

.gallery-img {
  margin: 10px;
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius);
  object-fit: cover;
  opacity: 0.9;
}
.gallery-img:hover {
  border-style: dotted;
  opacity: 1;
}

.gall-size-one {
  width: 20vw;
  height: 45vh;
  position: relative;
  top: -2.5vh;
}

.gall-size-two {
  width: 40vw;
  height: 30vh;
  position: relative;
  top: -10vh;
  object-position: 50% 100%;
}

.gall-size-three {
  width: 30vw;
  height: 40vh;
  position: relative;
  top: -5vh;
}

.gall-size-four {
  width: 20vw;
  height: 30vh;
  position: relative;
  top: -10vh;
}

.gall-size-five {
  width: 40vw;
  height: 45vh;
  position: relative;
  top: -17.5vh;
  object-position: 50% 35%;
}

.gall-size-six {
  width: 30vw;
  height: 35vh;
  position: relative;
  top: -12.5vh;
  object-position: 50% 60%;
}
