:root {
  --logo-width: 30vmin;
}
#header {
  justify-content: unset;
}

.header-container h1, h2 {
  z-index: 15;
  color: var(--main-color);
  font-family: var(--title-family);
}
.header-container h1 {
  font-size: calc(1rem + 7vmin);
}
.header-container h2 {
  font-size: calc(0.2rem + 5vmin);
}

.video-header {
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  background-color: var(--BG-color2);
}

.video-container /*.header-video*/ {
  height: calc(100vh - var(--navbar-height)*2);
  border-radius: var(--border-radius6);
  overflow: hidden;
}
.video-container {  
  width: calc(100% - var(--margin-width));
  position: absolute;
  top: var(--navbar-height);
  background-color: var(--BG-color2);
  border: var(--border-width) solid var(--main-color);
}
/*.header-video {
  width: 100%;
  opacity: 0.6;
  transform: rotateY(180deg);
  filter: blur(2px);  
  object-fit: cover;
}*/
.header-img {
  width: 50%;
  height: calc(100vh - var(--navbar-height)*2);
  object-fit: cover;
  object-position: top;
}


.rominar-logo {
  z-index: 10;
  width: var(--logo-width);
  position: absolute;
  top: calc(42vh - var(--logo-width)/2);
  left: calc(50% - var(--logo-width)/2);
  border-radius: 50%;
  border: 2px solid var(--BG-color2);
}

.header-container {
  width: 40%;
  height: calc(35vh - var(--navbar-height));
  padding-top: 4vh;
  position: relative;
  top: 50vh;
  flex-direction: column;
  background-color: var(--BG-color2);
  border: var(--border-width) solid var(--main-color);
  border-radius: var(--border-radius6)
}

/*Responsive Design*/

@media (max-aspect-ratio: 10/5) and  (min-aspect-ratio: 10/10) {
  .header-container h1 {
    font-size: calc(1rem + 3vw);
  }
  .header-container h2 {
    font-size: calc(0.2rem + 3vw);
  }
}

/*Mobile*/

/*Vertical*/
@media (max-aspect-ratio: 6/10), (max-width: 450px) {
  :root {
    --logo-width: 50vw;
  }
  .header-container h1 {
    font-size: calc(1rem + 10vmin);
    margin-top: -6vh;
  }
  .header-container h2 {
    font-size: calc(0.5rem + 8vmin);
  }
  .video-container, .header-img/*.header-video*/ {
    height: calc(50vh - var(--navbar-height));
    border-radius: var(--border-radius6);
  }
  .h-img-1 {
    border-top-right-radius: 0px;
  }
  .h-img-2 {
    border-top-left-radius: 0px;
  }
  .rominar-logo {
    top: calc(50vh - var(--logo-width)/2);
  }
  .header-container {
    width: calc(100% - var(--margin-width));
    height: 50vh;
    border: none;
  }
}

/*Landscape*/
@media (min-aspect-ratio: 10/6) and (max-height: 450px) and (min-width: 450px),
/*To handle navbar blocking textbox vision when switching to landscape with the android keyboard active,
 without affecting devices that aren't handheld but have touch screens nor desktop devices*/
(hover: none) and (pointer: coarse) and (min-device-aspect-ratio: 10/6), 
/*for older devices*/(hover: on-demand) and (pointer: coarse) and (min-device-aspect-ratio: 10/6)
{
  .video-container, .header-img/*.header-video*/ {
    height: calc(100vh - var(--margin-width));
  }
  .video-container {
    width: calc(100% - var(--margin-width)/2 - var(--lateral-navbar));
    top: calc(var(--margin-width)/2);
    right: calc(var(--lateral-navbar) + 1px);
  }
  .header-container h1 {
    font-size: 5vw;
  }
  .header-container h2 {
    font-size: 3.5vw;
  }
}


/*Tablet*/
@media (max-aspect-ratio: 17/10) and (min-aspect-ratio: 6/10) and (min-width: 450px), (max-aspect-ratio: 10/16) and (min-aspect-ratio: 6/10) and (min-width: 450px) {
  .header-container h1 {
    font-size: 5vw;
  }
  .header-container h2 {
    font-size: 3.5vw;
  }
}
@media (min-aspect-ratio: 85/100) and (max-aspect-ratio: 11/10) and (min-width: 450px) {
  :root {
    --logo-width: 27vmin;
  }
  .header-container {
    height: 20vh;
  }
}
@media (min-aspect-ratio: 6/10) and (max-aspect-ratio: 85/100) and (min-width: 450px) {
  :root {
    --logo-width: 35vmin;
  }
  .header-container {
    height: 20vh;
    width: 60vw;
  }
  .header-container h1 {
    font-size: 8vw;
  }
  .header-container h2 {
    font-size: 5.5vw;
  }
}

/*Weird sizes*/
@media (max-aspect-ratio: 11/10) and (max-width: 330px) {
  .header-container h1 {
    font-size: 12vw;
  }
  .header-container h2 {
    font-size: 8vw;
  }
}

@media (max-width: 500px) and (max-height: 450px) {
  .rominar-logo {
    width: 40vmin;
    top: calc(40vh - 20vmin);
    left: calc(50vw - 20vmin);
  }
  .header-container h1 {
    font-size: 5vw;
  }
  .header-container h2 {
    font-size: 3vw;
  }
}

