.navbar {
  z-index: 1;
  width: 100%;
  height: 40px;
  padding: 0 25% 0 25%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.navbar a {
  color: var(--main-color);
  text-decoration: none;
}
.navbar a:focus {
  color: var(--BG-color);
}

.nav-link {
  scroll-margin-top: 15px;
}
